.header {
  height: 200px;
  background: var(--gray-700);
}

.header .wrapper {
  max-width: 1440px;
  height: 100%;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header .wrapper img {
  height: 4.9rem;
}